@page "/Registro/Cobros/Create"

@inject CobrosService cobroService
@inject DeudoresService deudoresService
@inject PrestamosService prestamosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>
<EditForm Model="Cobro" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Cobro</h5>
            </div>

            <div class="card-body">
                @* CobroId *@
                <div class="mb-3">
                    <label class="form-label"><strong>CobroId</strong></label>
                    <InputNumber class="form-control" @bind-Value="Cobro.CobroId" readonly></InputNumber>
                </div>

                @* Fecha *@
                <div class="mb-3">
                    <label class="form-label"><strong>Fecha</strong></label>
                    <InputDate class="form-control" @bind-Value="Cobro.Fecha"></InputDate>
                </div>

                @* Deudor *@
                <div class="mb-3">
                    <label class="form-label"><strong>Deudor</strong></label>

                    <div class="input-group">

                        <InputSelect class="form-control form-select" @bind-Value="Cobro.DeudorId">
                            <option value="0" selected disabled>Elija una opción</option>
                            @foreach (var deudor in ListaDeudores)
                            {
                                <option value="@deudor.DeudorId">@deudor.Nombres</option>
                            }
                        </InputSelect>
                        <button type="button" class="btn btn-outline-success bi bi-arrow-clockwise" 
                                @onclick="BuscarPrestamosPendientes"> Buscar</button>
                        
                    </div>
                    
                    <ValidationMessage For="(() => Cobro.DeudorId)" />
                </div>

                @* Monto *@
                <div class="col-6 ms-3">
                    <label class="form-label"><strong>Monto</strong></label>
                    <InputSelect class="form-control" @bind-Value="Cobro.Monto">
                        <option value="" selected disabled>Elija una opción</option>
                        @foreach (var prestamo in ListaPrestamos)
                        {
                            <option value="@prestamo.Monto">PrestamoId @prestamo.PrestamosId - $ @prestamo.Monto</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="(() => Cobro.Monto)" />
                </div>

                @* Detalles del Cobro *@
                <div class="border border-success p-3 mt-3">
                    <h5>Detalles del Cobro</h5>

                    <PrestamoPicker Prestamos="ListaPrestamos"
                        PrestamoId="DetalleSeleccionado.PrestamoId"
                        Valor="DetalleSeleccionado.ValorCobrado"
                        OnPrestamoSelected="HandlePrestamoSelected" />
                        <hr />
                    <table class="table table-light">
                        <thead class="table table-striped">
                            <tr class="text-center">
                                <th>Pr&eacute;stamo</th>
                                <th>Cobrado</th>
                                <th>Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var detalle in Cobro.CobroDetalle)
                            {
                                <tr>
                                    <td>@detalle.PrestamoId</td>
                                    <td>@detalle.ValorCobrado</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger bi bi-trash"
                                                @onclick="() => RemoverDetalle(detalle)"></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr />
                </div>
            </div>

            @* footer *@
            <div class="card-footer text-center mt-2">
                <a href="/Registro/Cobro/Index" class="btn btn-primary"> <span class="bi bi-arrow-left"></span> Volver</a>
                <button type="submit" class="btn btn-primary bi bi-floppy"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@Mensaje

@code {
    public Cobros Cobro { get; set; } = new Cobros();
    public CobrosDetalle DetalleSeleccionado { get; set; } = new();
    public string Mensaje { get; set; } = string.Empty;
    public List<Deudores> ListaDeudores { get; set; } = new List<Deudores>();
    public List<Prestamos> ListaPrestamos { get; set; } = new List<Prestamos>();
    public int IdPrestamo { get; set; }
    public double ValorAplicar { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ListaDeudores = await deudoresService.Listar(d => d.DeudorId > 0);
    }

    public async Task BuscarPrestamosPendientes()
    {
        ListaPrestamos = await prestamosService.GetPrestamosPendientes(Cobro.DeudorId);
    }

    private async Task HandlePrestamoSelected((Prestamos prestamo, double valor) selection)
    {
        var detalle = new CobrosDetalle
            {
                PrestamoId = selection.prestamo.PrestamosId,
                ValorCobrado = selection.valor
            };

        Cobro.CobroDetalle.Add(detalle);
        Cobro.Monto = Cobro.CobroDetalle.Sum(d => d.ValorCobrado);

        DetalleSeleccionado = new CobrosDetalle();
        await Task.CompletedTask;
    }

    public async Task Guardar()
    {
        var creado = await cobroService.Guardar(Cobro);

        if (creado)
        {
            Mensaje = "Creado correctamente";
            navigationManager.NavigateTo("/Registro/Cobro/Index");
        }
        else
        {
            Mensaje = "No se ha creado correctamente";
        }
    }

    public async Task RemoverDetalle(CobrosDetalle detalle)
    {
        Cobro.CobroDetalle.Remove(detalle);
        //
        DetalleSeleccionado = detalle;
    }

    private async Task AplicarValor()
    {
        Cobro.CobroDetalle.Clear();
        if (ValorAplicar > 0)
        {

            var prestamosPendientes = await prestamosService
                .GetPrestamosPendientes(Cobro.DeudorId);
            foreach (var prestamo in prestamosPendientes)
            {
                double valorCobrado = 0;
                if (prestamo.Balance < ValorAplicar)
                    valorCobrado = prestamo.Balance;
                else
                    valorCobrado = ValorAplicar;

                ValorAplicar -= valorCobrado;

                Cobro.CobroDetalle.Add(
                    new CobrosDetalle()
                        {
                            PrestamoId = prestamo.PrestamosId,
                            ValorCobrado = valorCobrado
                        }
                );
            }
        }
    }
}

